.work__section {
    padding: 2rem 0;
}

.work__left-container {
    display: none;
}

.work__right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.work__right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.work__right-header h1 {
    font-size: 2.5rem;
}

#project-count{
    font-size: 1.5rem;
}

.work__right-seperator {
    display: none;
}

.work__right-container ul {
    list-style: none;
    text-decoration: none;
}

.projects__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-top: 1px solid var(--primary-bg-color);
    padding: 1.5rem 0;
}

.projects__row-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.portfolio__preview {
    box-shadow: 0px 0px 8px var(--primary-bg-color);
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.portfolio__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.portfolio__button {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.portfolio__button-preview {
    color: var(--color-white);
    background: var(--primary-bg-color);
}

.portfolio__button-preview:hover {
    color: var(--color-white);
    background: var(--accent-color);
}


.portfolio__button-source {
    color: var(--primary-bg-color);
    background: var(--color-white);
    border: 1px solid var(--primary-bg-color);
}

.portfolio__button-source:hover {
    border-color: var(--accent-color);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .work__right-container {
    margin: 0 auto;
    width: 80%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .work__section {
    padding: 3rem 0;
  }

  .work__right-header h1 {
    font-size: 3rem;
}

  .work__container {
    display: flex;
    justify-content: center;
  }

  .work__right-container {
    width: 100%;
  }

  .portfolio__preview {
    width: 100%;
    margin: 0 auto;
  }

  .portfolio__buttons-container {
    margin: 1.5rem 0;
  }

}

/* X-Large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {
  .work__section {
      padding: 5rem 0;
      height: 100vh;
    }
  
    .work__container {
      height: 100%;
      display: flex;
      flex-direction: row;
    }
   
    .work__left-container {
      margin: 4rem 0;
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(135deg, #242424 0%, #4B4B4B 50%, #2A2929  100%);
      border-radius: 5rem;
    }
  
    .work__right-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 5rem;
    }
  
    .work__right-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .work__right-header h1 {
      font-family: var(--font-primary);
      font-size: 3rem;
    }
  
    .work__right-seperator {
      width: 100%;
      border-style: 0.5rem solid var(--primary-bg-color);
      background: var(--primary-bg-color);
      margin: 2rem 0;
    }
  
    .work__right-container ul,
    a {
      list-style: none;
      text-decoration: none;
    }
  
    .projects__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 2rem 0;
    }
  
  
    .projects__row-left {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    .projects__row-text {
      font-family: var(--font-primary);
      color: var(--primary-bg-color);
    }
  
    .projects__row-text:hover {
      color: var(--accent-color);
    }
  
    .project-description {
      pointer-events: none;
    }

    
    
    #project-count {
      font-family: var(--font-primary);
      font-size: var(--font-size-sm);
    }
  
    /* ==== TV Display ==== */
  
   .work__left-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    padding-top: 1em;
   }
  
   .tv__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #515151 0%, #373737 50%, #202020   100%);
    height: 30rem;
    width: 100%;
    border-radius: 4rem;
    border: 0.05rem solid var(--color-white);
   }
  
  
   .tv__screen-middle {
    background-image: var(--primary-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    width: 90%;
    border-radius: 3rem;
    transition: 0.5s ease all;
   }
  
  .tv__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }
  
  .tv__knob {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background: radial-gradient(#575757, #333333);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: 0 1rem;
    border: 0.05rem solid var(--color-white);
    transition: 0.5s ease-out;
  }
  
  .tv__knob svg {
    position: absolute;
    font-size: 2rem;
  }
  
  
  #tv__knob-left {
    transform: rotate(0deg);
  }
  
  #tv__knob-right {
    transform: rotate(0deg);
  }
  
  /* ====== TV KNOB POSITIONS ===== */
  
  
  #knob__arrow {
    transform: rotate(90deg);
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
  
  #knob__circle {
    font-size: 2rem;
  }
  
  .tv__slot {
    width: 17em;
    height: 2.5rem;
    background: radial-gradient(#575757, #333333);
    border-radius: 3em;
    border: 0.05rem solid var(--color-white);
  }
  
  #tv-wire {
    position: absolute;
    width: 36rem;
    top: 1;
    margin-left: 2.5rem;
    margin-top: 8rem;
  }

  .portfolio__buttons-container, .portfolio__preview {
      display: none;
  }
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .work__section {
        padding: 5rem 0;
        height: 100%;
      }
    
      .work__container {
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
      }
     
      .work__left-container {
        margin: 0rem 0;
        position: relative;
        width: 50%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(135deg, #242424 0%, #4B4B4B 50%, #2A2929  100%);
        border-radius: 5rem;
      }
    
      .work__right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 0rem 10rem;
      }
    
      .work__right-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    
      .work__right-header h1 {
        font-family: var(--font-primary);
        font-size: 4rem;
      }
    
      .work__right-seperator {
        width: 100%;
        border-style: 0.5rem solid var(--primary-bg-color);
        background: var(--primary-bg-color);
        margin: 2rem 0;
      }
    
      .work__right-container ul,
      a {
        list-style: none;
        text-decoration: none;
      }
    
      .projects__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50%;
        padding: 2rem 0;

      }
      
    
      .projects__row-left {
        display: flex;
        align-items: center;

      }

      .projects__row-text {
        font-size: 1.2rem;
       
        font-family: var(--font-primary);
        color: var(--primary-bg-color);
      }
    
      .projects__row-text:hover {
        color: var(--accent-color);
      }
    
      .project-description {
        pointer-events: none;
      }
      
      
      #project-count {
        font-family: var(--font-primary);
        font-size: 1.5rem;
      }
    
      /* ==== TV Display ==== */
    
     .work__left-inside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 100%;
      padding-top: 1em;
     }
    
     .tv__screen {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #515151 0%, #373737 50%, #202020   100%);
      height: 35rem;
      width: 100%;
      border-radius: 4rem;
      border: 0.05rem solid var(--color-white);
     }
    
    
     .tv__screen-middle {
      background-image: var(--primary-bg-color);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 90%;
      width: 90%;
      border-radius: 3rem;
      transition: 0.5s ease all;
     }
    
    .tv__bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20%;
      margin: 1.5rem 0;
    }
    
    .tv__knob {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
      background: radial-gradient(#575757, #333333);
      height: 3rem;
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin: 0 3rem;
      border: 0.05rem solid var(--color-white);
      transition: 0.5s ease-out;
    }
    
    .tv__knob svg {
      position: absolute;
      font-size: 2rem;
    }
    
    
    #tv__knob-left {
      transform: rotate(0deg);
    }
    
    #tv__knob-right {
      transform: rotate(0deg);
    }
    
    /* ====== TV KNOB POSITIONS ===== */
    
    
    #knob__arrow {
      transform: rotate(90deg);
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
    }
    
    #knob__circle {
      font-size: 2rem;
    }
    
    .tv__slot {
      width: 25em;
      height: 3rem;
      background: radial-gradient(#575757, #333333);
      border-radius: 3em;
      border: 0.05rem solid var(--color-white);
    }
    
    #tv-wire {
      position: absolute;
      width: 48rem;
      top: 1;
      margin-left: 2rem;
      margin-top: 10rem;
    }

    .portfolio__buttons-container {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .portfolio__button {
      width: 100%;
      padding: 0.5rem;
      border-radius: 1rem;
      text-align: center;
  }

  .portfolio__button-preview {
    color: var(--color-white);
    background: var(--primary-bg-color);
}

.portfolio__button-preview:hover {
    color: var(--color-white);
    background: var(--accent-color);
}

.portfolio__button-source {
  color: var(--primary-bg-color);
  background: var(--color-white);
  border: 1px solid var(--primary-bg-color);
}

.portfolio__button-source:hover {
  border-color: var(--accent-color);
}

    .portfolio__preview {
      display: block;

    }

  
}

    @media (min-width: 1920px) {
      .work__section {
        padding: 5rem 0;
        height: 100%;
      }
    
      .work__container {
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
      }
     
      .work__left-container {
        margin: 0rem 0;
        position: relative;
        width: 50%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(135deg, #242424 0%, #4B4B4B 50%, #2A2929  100%);
        border-radius: 5rem;
      }
    
      .work__right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 0rem 10rem;
      }
    
      .work__right-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    
      .work__right-header h1 {
        font-family: var(--font-primary);
        font-size: 4rem;
      }
    
      .work__right-seperator {
        width: 100%;
        border-style: 0.5rem solid var(--primary-bg-color);
        background: var(--primary-bg-color);
        margin: 2rem 0;
      }
    
      .work__right-container ul,
      a {
        list-style: none;
        text-decoration: none;
      }
    
      .projects__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50%;
        padding: 2rem 0;

      }
      
    
      .projects__row-left {
        display: flex;
        align-items: center;

      }

      .projects__row-text {
        font-size: 1.2rem;
       
        font-family: var(--font-primary);
        color: var(--primary-bg-color);
      }
    
      .projects__row-text:hover {
        color: var(--accent-color);
      }
    
      .project-description {
        pointer-events: none;
      }
      
      
      #project-count {
        font-family: var(--font-primary);
        font-size: 1.5rem;
      }
    
      /* ==== TV Display ==== */
    
     .work__left-inside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 100%;
      padding-top: 1em;
     }
    
     .tv__screen {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #515151 0%, #373737 50%, #202020   100%);
      height: 35rem;
      width: 100%;
      border-radius: 4rem;
      border: 0.05rem solid var(--color-white);
     }
    
    
     .tv__screen-middle {
      background-image: var(--primary-bg-color);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 90%;
      width: 90%;
      border-radius: 3rem;
      transition: 0.5s ease all;
     }
    
    .tv__bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20%;
      margin: 1.5rem 0;
    }
    
    .tv__knob {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
      background: radial-gradient(#575757, #333333);
      height: 3rem;
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin: 0 3rem;
      border: 0.05rem solid var(--color-white);
      transition: 0.5s ease-out;
    }
    
    .tv__knob svg {
      position: absolute;
      font-size: 2rem;
    }
    
    
    #tv__knob-left {
      transform: rotate(0deg);
    }
    
    #tv__knob-right {
      transform: rotate(0deg);
    }
    
    /* ====== TV KNOB POSITIONS ===== */
    
    
    #knob__arrow {
      transform: rotate(90deg);
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
    }
    
    #knob__circle {
      font-size: 2rem;
    }
    
    .tv__slot {
      width: 25em;
      height: 3rem;
      background: radial-gradient(#575757, #333333);
      border-radius: 3em;
      border: 0.05rem solid var(--color-white);
    }
    
    #tv-wire {
      position: absolute;
      width: 48rem;
      top: 1;
      margin-left: 2rem;
      margin-top: 10rem;
    }

    .portfolio__buttons-container {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }

    .portfolio__button {
      width: 100%;
      font-size: 1.2rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      text-align: center;
  }

  .portfolio__button-preview {
    color: var(--color-white);
    background: var(--primary-bg-color);
}

.portfolio__button-preview:hover {
    color: var(--color-white);
    background: var(--accent-color);
}

.portfolio__button-source {
  color: var(--primary-bg-color);
  background: var(--color-white);
  border: 1px solid var(--primary-bg-color);
}

.portfolio__button-source:hover {
  border-color: var(--accent-color);
}

    .portfolio__preview {
      display: block;

    }
}