header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    display: flex;
    justify-content: center;
    text-align: left;
    height: 100%;
    position: relative;
}

.header__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.header__content-left {
    width: 95%;
}

.header__content-left h1 {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.header__content-left h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.27rem;
    text-transform: uppercase;
}


.header__content-left h3 {
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
    font-weight: 200;
}

.header__content-left span {
    color: var(--accent-color);
}

.header__content-right {
    padding: 2rem;
}

/* CTA */

.cta {
    margin-top: 1rem;
}

/* Header Socials */

.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 2rem;
    margin-top: 1rem;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    .header__content {
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    .header__content-right {
        display: flex;
        justify-content: center;
        
    }

    .header__content-right img {
        width: 100%;
    }

    .header__content-left {
        text-align: center;
        width: 100%;
    }

    .header__content-left h1 {
        font-size: 4.8rem;
        line-height: 4.5rem;
    }

    .header__content-left h2 {
        font-size: 1.9rem;
        line-height: 1.5rem;
    }

    .header__content-left h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header__content {
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    .header__content-right {
        display: flex;
        justify-content: center;
        
    }

    .header__content-right img {
        width: 50%;
    }

    .header__content-left {
        text-align: center;
        width: 50%;
    }

    .header__content-left h1 {
        font-size: 4.8rem;
        line-height: 4.5rem;
    }

    .header__content-left h2 {
        font-size: 1.9rem;
        line-height: 1.5rem;
    }

    .header__content-left h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header__content {
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    .header__content-right {
        display: flex;
        justify-content: center;
    }

    .header__content-right img {
        width: 50%;
    }

    .header__content-left {
        width: 50%;
        text-align: center;
    }

    .header__content-left h1 {
        font-size: 5rem;
    }

    .header__content-left h2 {
        font-size: 2rem;
        line-height: 1.5rem;
    }

    .header__content-left h3 {
        font-size: 1.4rem;
        line-height: 3rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header__content {
        flex-direction: row;
        padding-bottom: 0rem;
    }

    .header__content-left {
        width: 50%;
    }

    .header__content-left h1 {
        font-size: 8rem;
    }

    .header__content-left h2 {
        font-size: 3.4rem;
        line-height: 4rem;
    }

    .header__content-left h3 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   .header__content {
    flex-direction: row;
    padding-bottom: 0rem;
   }

   .header__content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
   }

   .header__content-right img{
    width: 90%;
    margin-left: 3rem;
   }
   
   .header__socials {
    font-size: 2rem;
   }

   .header__content-footer {
    width: 75%;
   }

   .header__content-left h1 {
    font-size: 8rem;
   }

   .header__content-left h2 {
    font-size: 3.4rem;
    line-height: 6rem;
   }

   .header__content-left h3 {
    font-size: 2.2rem;
    line-height: 0.5rem;
    margin-bottom: 1rem;
   }
}