#experience {
    background: var(--primary-bg-color);
}

.timeline__container {
    height: 100%;
    padding: 3rem 0;
}

.timeline-header {
    color: var(--primary-bg-color);
    text-align: center;
    background: var(--color-white);
    width: 15rem;
    padding: 0.5rem 0.8rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    z-index: 1;
}

.timeline-subheader {
    color: var(--primary-bg-color);
    text-align: center;
    background: var(--color-white);
    width: 8rem;
    padding: 0.1rem 0.8rem;
    border-radius: 1.5rem;
    z-index: 1;
    margin-bottom: 1rem;
}

.timeline__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.timeline__subheading {
    color: var(--secondary-bg-color);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.timeline {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--color-white);
}

.timeline__component {
    border-radius: 2rem;
    margin: 1rem 0;
    z-index: 1;
}

.timeline__component-left {
    background: #161616;
    color: var(--color-white);
    border: 0.2rem solid var(--color-white);
    padding: 2rem;
}

.timeline__component-right {
    background: #161616;
    color: var(--color-white);
    border: 0.2rem solid var(--color-white);
    padding: 2rem;
}

.timeline__middle {
    display: none;
}

.timeline__middle-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.timeline__point {
    display: none;
}

#education-title {
    display: block;
    position: relative;
    margin: 1rem 0;
}

.timeline__temp-line {
    display: none;
}

.timeline__list {
    line-height: 1.5;
    
}

.timeline__list li {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 1rem 0;
}


.timeline__list svg {
    padding-top: 0.3rem;
    margin-right: 0.5rem;
}

.timeline__point-heading {
    background: var(--color-white);
    width: 10rem;
    height: fit-content;
    border-radius: 1.5rem;
    color: var(--primary-bg-color);
    padding: 0.5rem;
    text-align: center;
}

.timeline__empty-component, .timeline-spacer {
    display: none;
}

.timeline__temp-line {
    display: none;
    position: absolute;
    background: var(--color-white);
    width: 0.2rem;
    height: 140em;
    top: 1;
    left: 0;
    margin-left: 50%;
    margin-top: 2rem;
    z-index: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .timeline {
        justify-items: center;
    }

    .timeline__component {
        
        width: fit-content;
    }

    .timeline__temp-line {
        display: none;
        height: 160rem;
    }
  
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .timeline {
        justify-items: center;
    }

    .timeline__component {
        margin: 2rem;
        width: fit-content;
    }

    .timeline__temp-line {
        display: block;
    }
  
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .timeline {
        justify-items: center;
    }

    .timeline__temp-line {
        display: block;
        height: 142rem;
    }

    .timeline__component {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: fit-content
    }

    .timeline__point {
        display: none;
    }

    .timeline__empty-component {
        display: none;
    }

    .timeline-spacer {
        display: none;
    }

    
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .timeline__section {
        padding: 3rem 0;
    }

    .timeline {
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-header {
       transform: translateX(-50%);
       margin-left: 50%;
    }

    .timeline-subheader {
        transform: translateX(-50%);
        margin-left: 50%;
     }

    .timeline__empty-component, .timeline-spacer {
        display: block;
    }

    .timeline__middle {
        display: block;
    }
    

    .timeline__temp-line {
        display: block;
        transform: translateX(-50%);
        height: 173rem;
    }

    .timeline__component-left {
        margin-right: 4rem;
    }

    .timeline__component-right {
        margin-left: 4rem;
    }

    .timeline__middle-top {
        margin-bottom: 5rem;
    }

    .timeline__point {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-white);
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    }

    .timeline__point--bottom {
        width: 2rem;
        height: 2rem;
    }

    .timeline__point svg {
        font-size: 2rem;
        color: var(--primary-bg-color);
    }

    #education-title {
        display: flex;
        position: relative;
        width: 15rem;
        height: 3rem;
        border-radius: 2rem;
        margin: 3rem 0;
        margin-left: 50%;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .timeline__section {
        padding: 3rem 0;
    }

    .timeline {
        grid-template-columns: 1fr 3px 1fr;
    }


    .timeline__empty-component, .timeline-spacer {
        display: block;
    }

    .timeline__middle {
        display: block;
    }
    

    .timeline__temp-line {
        display: block;
        transform: translateX(-50%);
        height: 170rem;
    }

    .timeline__component {
        width: 80%;
    }

    .timeline__component-left {
        margin-right: 4rem;
    }

    .timeline__component-right {
        margin-left: 4rem;
    }

    .timeline__middle-top {
        transform: translateX(50%);
        margin-bottom: 5rem;
    }

    .timeline__point {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-white);
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    }


    .timeline__point--bottom {
        width: 2rem;
        height: 2rem;
    }

    .timeline__point svg {
        font-size: 2rem;
        color: var(--primary-bg-color);
    }

    #education-title {
        display: flex;
        position: relative;
        width: 15rem;
        height: 3rem;
        border-radius: 2rem;
        margin: 3rem 0;
        margin-left: 50%;
    }


 }

 @media (min-width: 1920px) {
    .timeline__temp-line {
        height: 164rem;
    }
 }
